.App {
  text-align: center;
  background-color: lightblue;
  height: 100vh;
  margin: 0;
  padding: 20px;
border: black 5px solid;
border-radius: 10px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
